<div class="bg-gray-800">
  <mat-toolbar
    class="flex items-center justify-between px-4 py-2 bg-gray-900 text-white">
    <a routerLink="/" class="flex items-center gap-2 no-underline text-white">
      <img src="LocalBytes_Logo_dark.png" alt="LocalBytes Logo" class="h-10" />
      <span class="text-xl font-semibold hidden sm:inline">LocalBytes</span>
    </a>

    <span class="flex-grow"></span>

    <div class="flex gap-4">
      <a mat-button routerLink="/list"
        class="text-white hover:text-amber-700 px-2"
        >Restaurant List</a
      >
      <a mat-button routerLink="/map" class="text-white hover:text-amber-700 px-2"
        >Map View</a
      >
  </div>
  </mat-toolbar>
</div>
