<div
  class="h-full bg-white flex flex-col lg:flex-row h-full rounded-lg shadow-md overflow-hidden">
  <!-- Image placeholder (left half) -->
  <div class="lg:w-1/2 flex items-center justify-center">
    <img
      src="https://placehold.co/300x200"
      alt="Restaurant image"
      class="object-cover w-full h-full" />
  </div>
  <!-- Content (right half) -->
  <div class="lg:w-1/2 flex flex-col p-4 bg-white">
    <mat-card-header class="mb-2">
      <div class="flex justify-between w-full">
        <h1 class="text-xl font-semibold text-gray-700">
          <a
            (click)="openDialog()"
            (keydown.enter)="openDialog()"
            tabindex="0"
            role="button"
            class="cursor-pointer hover:text-gray-500 transition-colors duration-200">
            {{ restaurant.title }}
          </a>
        </h1>

        <div>
          <button
            mat-icon-button
            color="primary"
            (click)="zoomToRestaurant()"
            matTooltip="Show on map"
            style="margin-top: -0.75rem;">
            <mat-icon>place</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-divider class="mb-2"></mat-divider>
    <mat-card-content class="flex-1 flex flex-col justify-between">
      <div>
        <h2 class="text-lg font-medium text-gray-800">Description</h2>
        <p
          class="text-gray-700 leading-relaxed"
          *ngIf="restaurant.description.length <= 50">
          {{ restaurant.description }}
        </p>
        <p
          class="text-gray-700 leading-relaxed"
          *ngIf="restaurant.description.length > 50">
          {{ restaurant.description.substring(0, 50) }}...
          <a
            (click)="openDialog()"
            (keydown.enter)="openDialog()"
            tabindex="0"
            role="button"
            class="text-gray-600 hover:underline cursor-pointer">
            Read more
          </a>
        </p>
      </div>
      <div id="Stars" class="mt-4">
        <h2 class="text-lg font-medium text-gray-800 mb-2">Rating</h2>
        <div class="flex items-center space-x-1 mb-3">
          <!-- Star Rating -->
          <app-star [restaurant]="restaurant"></app-star>
        </div>
        <!-- <p class="text-sm text-gray-600 mb-2">Rate your Experience:</p>
        <div class="ml-2">
          <app-star [elementID]="restaurant.place_id"></app-star>
        </div> -->
      </div>
    </mat-card-content>
  </div>
</div>
