<div
  class="bg-cover bg-center bg-no-repeat min-h-screen"
  style="background-image: url('downtown_como.jpg')">
  <div
    class="bg-black/10 backdrop-blur-sm min-h-screen flex flex-col items-center justify-center text-center px-4">
    <img src="LocalBytes_logo.png" alt="LocalBytes Logo" class="h-32 mb-6" />
    <h1 class="text-5xl font-bold mb-2 text-white">Welcome to LocalBytes</h1>
    <p class="text-lg text-gray-300 mb-6">
      Find you next favorite local restaurant here in COMO.
    </p>
    <button
      mat-raised-button
      class="bg-amber-600 hover:bg-amber-800 text-white px-6 py-2 rounded"
      routerLink="/list">
      Explore Restaurants
    </button>
  </div>
</div>
