<mat-toolbar color="primary" class="flex items-center px-4">
    <a routerLink="/" class="flex items-center gap-2 no-underline text-white">
      <img src="LocalBytes_Logo_dark.png" alt="LocalBytes Logo" class="h-10" />
      <span class="text-xl font-semibold">LocalBytes</span>
    </a>
  
    <span class="flex-grow"></span>
  
    <a mat-button routerLink="/restaurants" class="text-white">Restaurant List</a>
    <a mat-button routerLink="/map" class="text-white">Map View</a>
  </mat-toolbar>  