.star-rating .star {
  color: #ccc;
  transition: color 0.2s;
  position: relative;
  display: inline-block;
}
.star-rating .star.filled {
  color: #ffd700;
}
/* .star-rating .star.half {
  color: #FFD700;
} */
.star-rating .star.half::after {
  content: '\2605';
  color: #ffd700;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  pointer-events: none;
}

/* Animation for the rated stars */
.star-rating.animated {
  animation: floatDown 0.3s ease-in-out;
}

@keyframes floatDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
